<!DOCTYPE html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr> 
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13040790?query=java%20kiev">Java Developer for TechFinancials</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13040203?query=java%20kiev">Senior Java developer, Frankfurt</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Smart Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13043133?query=java%20kiev">Software Developer – Java [HED – MW]</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12815289?query=java%20kiev">Middle Java Developer</a></td> 
     <td class="city">Киев, Берестейская и еще 2</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12952834?query=java%20kiev">Java Developer - Kiev</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">SAP CIS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12952739?query=java%20kiev">Senior Java Developer - Kiev</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">SAP CIS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13037992?query=java%20kiev">Senior Java Developer for Ciklum UK Client</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13041087?query=java%20kiev">Senior Java Back End Developer for Ciklum UK Client</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13000905?query=java%20kiev">Java-разработчик</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Lucky-Labs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12621332?query=java%20kiev">Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">УкрСиббанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12916719?query=java%20kiev">Senior Java Developer - Kyiv</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12914585?query=java%20kiev">Java Architect - Kiev</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12880158?query=java%20kiev">CRM (Java) Developer, relocation to Prague</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">MERA Software Services d.o.o.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12683705?query=java%20kiev">Senior JAVA Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">УкрСиббанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12959549?query=java%20kiev">Java or Python Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">DAXX</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12927476?query=java%20kiev">Java- програміст</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Kyivstar</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12951865?query=java%20kiev">Senior Java Developer for Zoomdata</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12964618?query=java%20kiev">Java Developer (проект з інтеграції інформаційних систем)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Райффайзен Банк Аваль</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12917906?query=java%20kiev">Senior Java developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12916370?query=java%20kiev">Senior/Middle Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12916519?query=java%20kiev">Senior/Strong Middle Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12787185?query=java%20kiev">Java Solution Architect</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12688767?query=java%20kiev">Старший Java-разработчик</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12787168?query=java%20kiev">Senior/Lead Java/Hybris Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12905112?query=java%20kiev">QA Team Lead</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Adyax</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13043135?query=java%20kiev">Software Developer - BigData [HED - BigData]</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13043093?query=java%20kiev">Software Developer – FrontEnd (HED - FE)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13043169?query=java%20kiev">Senior Back End Developer for Ciklum UK Client</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12835260?query=java%20kiev">Ведущий инженер-программист Java отдела разработки программного обеспечения</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Первый Украинский Международный банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12835249?query=java%20kiev">Главный инженер-программист Java отдела разработки программного обеспечения</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Первый Украинский Международный банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13041253?query=java%20kiev">Middle Technical Tester for Ciklum UK Client</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13040929?query=java%20kiev">Senior Technical Tester for Ciklum UK Client</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13040159?query=java%20kiev">Software Engineer Team Lead – Hadoop, Düsseldorf</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Smart Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12356256?query=java%20kiev">Разработчик программного обеспечения (Oracle SQL, PL/SQL)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ПРАВЭКС-БАНК, ГРУППА INTESA SANPAOLO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13035176?query=java%20kiev">Senior .NET Developer with strong skills in web technologies for ScanJour</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13038410?query=java%20kiev">Senior Front End Developer for Ciklum UK Client</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13038126?query=java%20kiev">Senior Node JS Developer for Ciklum UK Client</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12771982?query=java%20kiev">Руководитель отдела тестирования</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">FIX</td> 
     <td class="salary">от 1&nbsp;200 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12580789?query=java%20kiev">C++ Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12610965?query=java%20kiev">Senior C++ Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12866233?query=java%20kiev">Front-End Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">3Shape Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13018315?query=java%20kiev">Senior Frontend developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Smart Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13018367?query=java%20kiev">System Administrator (Amazon servers)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Smart Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13023304?query=java%20kiev">Linux Kernel Developer for Harmonic project</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13023394?query=java%20kiev">Automation QA engineer</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13007153?query=java%20kiev">DevOps Engineer - Hadoop [EA]</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13011370?query=java%20kiev">Automation Test engineer</a></td> 
     <td class="city">Киев, Берестейская</td> 
     <td class="companyName">Miratech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13004592?query=java%20kiev">Специиалист по тестированию</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ренессанс Кредит, Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12928123?query=java%20kiev">QA Engineer - Mobile Applications Automation</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13000902?query=java%20kiev">Junior Automation QA Software Engineer for Harmonic project</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12999566?query=java%20kiev">Senior Automation QA Software Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13001048?query=java%20kiev">Junior Automation QA Software Engineer</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12892082?query=java%20kiev">Senior Software Developer Integration and Maintenance</a></td> 
     <td class="city">Киев, Позняки</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12917362?query=java%20kiev">Senior C++ Developer</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12316000?query=java%20kiev">Continuous Integration Engineer - [EA-CI]</a></td> 
     <td class="city">Киев, Позняки</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12987332?query=java%20kiev">C++ Backend Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Staff Service</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12883030?query=java%20kiev">Middle Software Developer</a></td> 
     <td class="city">Киев, Позняки</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12866176?query=java%20kiev">Senior Software Developer</a></td> 
     <td class="city">Киев, Позняки</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13010332?query=java%20kiev">Angular Developer</a></td> 
     <td class="city">Киев, Берестейская и еще 2</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12892127?query=java%20kiev">Senior Software Developer Core Development</a></td> 
     <td class="city">Киев, Позняки</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12580852?query=java%20kiev">Software Developer - Hadoop [EA- Hadoop]</a></td> 
     <td class="city">Киев, Позняки</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12497121?query=java%20kiev">Architect(Senior) - Hadoop [EA- Hadoop]</a></td> 
     <td class="city">Киев, Позняки</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12982483?query=java%20kiev">IBM Websphere Message Broker Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Райффайзен Банк Аваль</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12903286?query=java%20kiev">Software Developer</a></td> 
     <td class="city">Киев, Позняки</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/11621517?query=java%20kiev">Android Senior Developer</a></td> 
     <td class="city">Санкт-Петербург, Горьковская</td> 
     <td class="companyName">Omnigon Communications, LLC</td> 
     <td class="salary">2&nbsp;000-3&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12983540?query=java%20kiev">Middle QA Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/11581849?query=java%20kiev">Разработчик Node.js / JavaScript (backend software developer)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">ООО Плэми</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12969596?query=java%20kiev">Senior Android developer (Serbia)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">MERA Software Services d.o.o.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12966851?query=java%20kiev">PostgreSQL Expert</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12983779?query=java%20kiev">Senior Developer (TCL/Tk)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">SAP CIS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12975602?query=java%20kiev">Junior Automation QA Engineer</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12977414?query=java%20kiev">Senior ASP .NET Webforms Developer for Ciklum Interactive Solutions</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12975278?query=java%20kiev">Application Architect</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12557698?query=java%20kiev">Senior Test engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12557679?query=java%20kiev">Senior QA automation</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12964604?query=java%20kiev">Експерт із супроводження ПЗ ( WEB)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Райффайзен Банк Аваль</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12921329?query=java%20kiev">Senior C# / Unity3D Developer (Ведущий программист C# / Unity3d)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">ООО Плэми</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12961266?query=java%20kiev">Senior UI Developer for Kuoni</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12605519?query=java%20kiev">Mobile Automation Test Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12559072?query=java%20kiev">UI Designer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12558967?query=java%20kiev">Senior iOS Automation Test Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12948679?query=java%20kiev">Web JEE Developer for Kuoni</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12558034?query=java%20kiev">Test Manager</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12938315?query=java%20kiev">PhD Data Scientist / Statistician (Machine Learning Expert)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ЗАО Advameg</td> 
     <td class="salary">3&nbsp;600-3&nbsp;600 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12934145?query=java%20kiev">Инженер-программист (1С)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ROSHEN, Кондитерская корпорация</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12927424?query=java%20kiev">Pega PRPC developer/architect</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12926402?query=java%20kiev">QA Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12925584?query=java%20kiev">Менеджер комунікаційних платформ (Digital)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Kyivstar</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12932267?query=java%20kiev">Business Intelligence Product manager for Zoomdata</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12930039?query=java%20kiev">Linux C/C++ Developer with strong Oracle experience for Mobile Entertainment GmbH</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12928227?query=java%20kiev">Senior Game Server Engineer for Ciklum New Client</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12873193?query=java%20kiev">Software Engineer (Android)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Innovecs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12930122?query=java%20kiev">Mule ESB Developer for Ellos</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12929867?query=java%20kiev">Automation QA Engineer for Ciklum New Client</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12930053?query=java%20kiev">Automation Test Analyst for Ciklum New Client</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12929977?query=java%20kiev">DevOps Engineer for TechFinancials</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12863771?query=java%20kiev">Embedded Software Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">АНКОР, кадровый холдинг</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12897331?query=java%20kiev">Senior QA Engineer for EFG</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12895259?query=java%20kiev">Senior QA Engineer for EFG</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12885402?query=java%20kiev">Middle C++ Developer for Harmonic project</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12878385?query=java%20kiev">Middle C/C++ Embedded Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12880915?query=java%20kiev">Back-end developer server-side / Ведущий специалист по разработке ПО</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Quokka</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12883519?query=java%20kiev">QA Manager</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">WorkFusion</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12834396?query=java%20kiev">Leading Customer Relation Management Platforms Administration Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Astelit, TM life:)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12842372?query=java%20kiev">Support/Maintenance Engineer for Zoomdata</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12435250?query=java%20kiev">Android Lead Developer</a></td> 
     <td class="city">Санкт-Петербург, Горьковская</td> 
     <td class="companyName">Omnigon Communications, LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12856706?query=java%20kiev">Android / iOS Developer to New York</a></td> 
     <td class="city">США</td> 
     <td class="companyName">Omnigon Communications, LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12856707?query=java%20kiev">Android / iOS Developer to New York</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Omnigon Communications, LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13041580?query=java%20kiev">Java / Senior Java Messaging Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">NATEK</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12885252?query=java%20kiev">Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12749324?query=java%20kiev">Lead Java developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Intellectsoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13039067?query=java%20kiev">Java Web Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ИП ambertrades</td> 
     <td class="salary">до 500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12847291?query=java%20kiev">Senior Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО ControlPay</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/10415593?query=java%20kiev">Java программист/архитектор</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Софтиндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13023119?query=java%20kiev">Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Livatek</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12537829?query=java%20kiev">Водитель со своим автомобилем в такси Киева и Броваров</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">KAVALER-Taxi</td> 
     <td class="salary">5&nbsp;000-14&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12842947?query=java%20kiev">Senior Java Developer (jBPM)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Livatek</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13016297?query=java%20kiev">Senior Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Willowcode</td> 
     <td class="salary">от 90&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13010406?query=java%20kiev">Java Game developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Softheme</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12703991?query=java%20kiev">Senior Java Developer (Google Web Toolkit)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Livatek</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12994737?query=java%20kiev">Senior Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12994713?query=java%20kiev">Software Engineer (Java)</a></td> 
     <td class="city">Киев, Дворец "Украина"</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12470709?query=java%20kiev">Водитель такси на своем автомобиле в Киеве</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Такси ЗЕФИР</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12781601?query=java%20kiev">Провідний програміст (Senior software developer – Java/Oracle ADF)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Гос. корп. Информационно-ресурсный центр</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12686977?query=java%20kiev">Senior Java Software Engineer</a></td> 
     <td class="city">Киев, Нивки</td> 
     <td class="companyName">СМК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12960294?query=java%20kiev">Big Data Engineer (Senior Java)</a></td> 
     <td class="city">Киев, Театральная и еще 2</td> 
     <td class="companyName">Intel 471</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12843062?query=java%20kiev">Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО CustomerTimes</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12880777?query=java%20kiev">Java-developer (Middle-Senior)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Dukascopy Bank SA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12468806?query=java%20kiev">Преподаватель курсов программирования Java, Python</a></td> 
     <td class="city">Киев, Политехнический институт</td> 
     <td class="companyName">Перспектива - XXI век, Учебный центр</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13044480?query=java%20kiev">Android разработчик (г. Дубай, ОАЭ)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ARGA DWC LLC</td> 
     <td class="salary">до 3&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12848668?query=java%20kiev">QA Automation Tutor (Java)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GoIT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13033484?query=java%20kiev">Senior JavaScript developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Provide Support</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/11900970?query=java%20kiev">Водитель такси</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Авангард, такси</td> 
     <td class="salary">3&nbsp;500-5&nbsp;700 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13016338?query=java%20kiev">Javascript Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Willowcode</td> 
     <td class="salary">от 70&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13017508?query=java%20kiev">Senior Scala Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ОАО NewGround</td> 
     <td class="salary">от 4&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13023221?query=java%20kiev">Web UI Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Skelia Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12832998?query=java%20kiev">WEB Penetration Tester</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Samsung Electronics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13010633?query=java%20kiev">Security Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Codeminders</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13017574?query=java%20kiev">Web-master</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Левел ап</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12899715?query=java%20kiev">MySQL DBA</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">TubeMogul, Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12781547?query=java%20kiev">Начальник відділу (System Architect, Team lead)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Гос. корп. Информационно-ресурсный центр</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13008780?query=java%20kiev">Senior С++Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Codeminders</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12993256?query=java%20kiev">Android Developer</a></td> 
     <td class="city">Киев, Политехнический институт</td> 
     <td class="companyName">Ретеко Украина</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12995827?query=java%20kiev">PHP back-end Developer</a></td> 
     <td class="city">Киев, Нивки</td> 
     <td class="companyName">TrustSourcing</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12994708?query=java%20kiev">Business Analyst (Engineering)</a></td> 
     <td class="city">Киев, Дворец "Украина"</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12975247?query=java%20kiev">Ментор на курс «Android с нуля»</a></td> 
     <td class="city">Киев, Шулявская</td> 
     <td class="companyName">ООО Web Academy</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12646025?query=java%20kiev">Customer Support Expert</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">B2B Soft Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12982430?query=java%20kiev">Преподаватель по курсу "FreeBSD Администрирование операционной системы"</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Basic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12982358?query=java%20kiev">Преподаватель по курсу «Ведение бухгалтерского учета частного предпринимателя"</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Basic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12982277?query=java%20kiev">Преподаватель по курсу SMM</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Basic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12969421?query=java%20kiev">Senior Android developer (Serbia)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">MERA Software Services d.o.o.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12624849?query=java%20kiev">Преподаватель по курсу «Php - программирование»</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Basic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12799965?query=java%20kiev">Преподаватель по курсу «JavaScript, JQuery на примерах»</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Basic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12953401?query=java%20kiev">QA Automation Engineer (WOT Generals)</a></td> 
     <td class="city">Киев, Контрактовая площадь</td> 
     <td class="companyName">Persha Studia</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12536938?query=java%20kiev">Flash-разработчик (видео-стриминг)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Webmasters Forge Ltd.</td> 
     <td class="salary">от 1&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12853302?query=java%20kiev">Flex Architect Consultant</a></td> 
     <td class="city">Киев, Нивки</td> 
     <td class="companyName">СМК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12853187?query=java%20kiev">Senior Flex Software Engineer</a></td> 
     <td class="city">Киев, Нивки</td> 
     <td class="companyName">СМК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12695505?query=java%20kiev">Web-разработчик</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Abweb</td> 
     <td class="salary">7&nbsp;000-12&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12561474?query=java%20kiev">Водитель такси (со своим авто)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Топ Такси</td> 
     <td class="salary">8&nbsp;000-15&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12885199?query=java%20kiev">Software Developer (Middle or Senior)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">NATEK</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12703251?query=java%20kiev">E-commerce manager (Web-manager)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Центральний офіс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/11816386?query=java%20kiev">PHP-разработчик</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Webmasters Forge Ltd.</td> 
     <td class="salary">1&nbsp;500-1&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12876676?query=java%20kiev">Senior JavaScript developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Softheme</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12909286?query=java%20kiev">Integration Architect</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">IBM Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12909273?query=java%20kiev">Architect Lead</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">IBM Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12898237?query=java%20kiev">IT рекрутер</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">PM Media</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12707726?query=java%20kiev">Front-end Developer (Senior/Lead)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Таймкод</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12759213?query=java%20kiev">Водитель со своим автомобилем</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ИП Дячишин В.И. (КВН-ТАКСИ)</td> 
     <td class="salary">7&nbsp;000-10&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12072677?query=java%20kiev">Водитель с любым авто(4х дверн)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Авангард, такси</td> 
     <td class="salary">5&nbsp;700-7&nbsp;500 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12879662?query=java%20kiev">Android Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Юнисистем</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12874707?query=java%20kiev">Senior Software Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Пономаренко Ю.Л., ФЛП</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12872695?query=java%20kiev">Lead Server Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Twin Win Games</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12880438?query=java%20kiev">QA Automation Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Govitall</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12507670?query=java%20kiev">Разработчик ABAP</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">BrigRetail</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12843386?query=java%20kiev">Product owner</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Depositphotos</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12844098?query=java%20kiev">Адміністратор ОДБ</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">КРЕДИТВЕСТ БАНК, ПАТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12509980?query=java%20kiev">Водитель со своим автомобилем</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">FLY TAXI</td> 
     <td class="salary">от 5&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12872545?query=java%20kiev">Quality Assurance Specialist (Middle or Senior)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">NATEK</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12867839?query=java%20kiev">Senior Software Developer</a></td> 
     <td class="city">Киев, Позняки</td> 
     <td class="companyName">IT Genius</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12905070?query=java%20kiev">QA Team Lead</a></td> 
     <td class="city">Житомир</td> 
     <td class="companyName">Adyax</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12905054?query=java%20kiev">Qa engineer</a></td> 
     <td class="city">Житомир</td> 
     <td class="companyName">Adyax</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>